[submodule "libs/zlib"]
	path = libs/zlib
	url = https://github.com/Paxxi/zlib
[submodule "libs/tinyxml"]
	path = libs/tinyxml
	url = https://github.com/Paxxi/TinyXML
[submodule "libs/yajl"]
	path = libs/yajl
	url = https://github.com/Paxxi/yajl
[submodule "libs/libmicrohttpd"]
	path = libs/libmicrohttpd
	url = https://github.com/Paxxi/libmicrohttpd
[submodule "libs/taglib"]
	path = libs/taglib
	url = https://github.com/Paxxi/taglib
[submodule "libs/openssl"]
	path = libs/openssl
	url = https://github.com/Paxxi/openssl
[submodule "libs/curl"]
	path = libs/curl
	url = https://github.com/Paxxi/curl
[submodule "libs/fribidi"]
	path = libs/fribidi
	url = https://github.com/Paxxi/fribidi
[submodule "libs/fontconfig"]
	path = libs/fontconfig
	url = https://github.com/Paxxi/fontconfig
[submodule "libs/libiconv"]
	path = libs/libiconv
	url = https://github.com/Paxxi/libiconv
[submodule "libs/libbluray"]
	path = libs/libbluray
	url = https://github.com/Paxxi/libbluray
[submodule "libs/freetype2"]
	path = libs/freetype2
	url = https://github.com/Paxxi/freetype2
[submodule "libs/libass"]
	path = libs/libass
	url = https://github.com/Paxxi/libass
[submodule "libs/crossguid"]
	path = libs/crossguid
	url = https://github.com/Paxxi/crossguid
[submodule "libs/lzo2"]
	path = libs/lzo2
	url = https://github.com/Paxxi/lzo2
[submodule "libs/sqlite"]
	path = libs/sqlite
	url = https://github.com/Paxxi/sqlite
[submodule "libs/pcre"]
	path = libs/pcre
	url = https://github.com/Paxxi/pcre
[submodule "libs/libxml2"]
	path = libs/libxml2
	url = https://github.com/Paxxi/libxml2
[submodule "libs/libxslt"]
	path = libs/libxslt
	url = https://github.com/Paxxi/libxslt
[submodule "libs/libssh"]
	path = libs/libssh
	url = https://github.com/Paxxi/libssh
[submodule "libs/python"]
	path = libs/python
	url = https://github.com/Paxxi/python
[submodule "libs/pillow"]
	path = libs/pillow
	url = https://github.com/Paxxi/Pillow
[submodule "libs/mDNSReponder"]
	path = libs/mDNSReponder
	url = https://github.com/Paxxi/mDNSResponder
[submodule "libs/mDNSResponder"]
	path = libs/mDNSResponder
	url = https://github.com/Paxxi/mDNSResponder
[submodule "libs/libcec"]
	path = libs/libcec
	url = https://github.com/Paxxi/libcec
[submodule "libs/p8-platform"]
	path = libs/p8-platform
	url = https://github.com/Paxxi/platform
[submodule "lib/libnfs"]
	path = lib/libnfs
	url = https://github.com/Paxxi/libnfs
[submodule "libs/libnfs"]
	path = libs/libnfs
	url = https://github.com/Paxxi/libnfs
[submodule "libs/libplist"]
	path = libs/libplist
	url = https://github.com/Paxxi/libplist
[submodule "libs/shairplay"]
	path = libs/shairplay
	url = https://github.com/Paxxi/shairplay
