[submodule "libs/zlib"]
	path = libs/zlib
	url = https://github.com/Paxxi/zlib
[submodule "libs/tinyxml"]
	path = libs/tinyxml
	url = https://github.com/Paxxi/TinyXML
[submodule "libs/yajl"]
	path = libs/yajl
	url = https://github.com/Paxxi/yajl
